
@{
    ViewData["Title"] = "CancelAvto";
    @model Kursachtry3.Models.ViewModel.AvtoViewModel
}

<h2>CancelAvto</h2>

<div class="container jumbotron">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <h5 class="nav-link active" id="Drivers-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Cancellation</h5>
        </li>
        <li class="nav-item">
            <h5 class="nav-link" id="Ways-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Sold</h5>
        </li>
    </ul>
    <form asp-antiforgery="true" method="post" action="/Cancellation/CancelAvto">
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="Drivers-tab">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group row ">
                            <label for="inputCancellation" class="col col-form-label">Cancellation date</label><br />
                        </div>
                        <div class="form-group row ">
                            <label for="inputCancellation" class="col col-form-label">Cancellation date</label><br />
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group row ">
                            <input type="date" class="form-control" asp-for="cancelletion_date" disabled>
                        </div>
                        <div class="form-group row ">
                            <input type="date" class="form-control" asp-for="when_cancellation" value="@string.Concat(DateTime.Now.GetDateTimeFormats()[14].ToString().Take(10))">
                        </div>
                    </div>
                </div>
                <input type="hidden" asp-for="Avto_Key" value="@Model.Avto_Key" />
                <input type="submit" class="btn btn-outline-danger" style="font-weight:700; float:right;" value="Accept Cancellation" name="action" />
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="Ways-tab">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group row ">
                            <label for="inputCancellation" class="col col-form-label">Sold date</label><br />
                        </div>
                        <div class="form-group row ">
                            <label for="inputCancellation" class="col col-form-label">Cost</label><br />
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group row ">
                            <input type="date" class="form-control" asp-for="when_sell" value="@string.Concat(DateTime.Now.GetDateTimeFormats()[14].ToString().Take(10))">
                        </div>
                        <div class="form-group row ">
                            <input type="number" class="form-control" asp-for="sell_cost" value="10000">
                        </div>
                    </div>
                </div>
                <input type="hidden" asp-for="Avto_Key" value="@Model.Avto_Key" />
                <input type="submit" class="btn btn-outline-danger" style="font-weight:700; float:right;" value="Accept Sold" name="action" />
            </div>
        </div>
    </form>
</div>